# Project information.
project:
  root: /var/www/html/
  url: http://localhost
  environment: development

# Site information.
site:
  name: Drupal 8 Skeleton
  mail: email@example.com
  profile: minimal
  update: false
  locale: en

# Administrator account.
account:
  name: admin
  password: admin
  mail: admin@example.org

# Database parameters.
database:
  host: 127.0.0.1
  port: 3306
  name: skeleton
  user: root
  password: root
  prefix: ''

# Behat settings.
behat:
  # Behat configuration template.
  source: behat/behat.yml.dist
  # Resulting Behat configuration file after performing token replacement.
  destination: behat/behat.yml
  # Following tokens will be automatically replaced when running "project:setup-behat".
  tokens:
    _base_url: http://localhost

bin:
  drush: ./vendor/bin/drush

settings:
  config_directories:
    sync: ../config/sync

# Here you can specify environment overrides.
#environment:
#  settings:
#    trusted_host_patterns:
#      - "dev.europa.eu$"
#    http_client_config:
#      proxy:
#        http: "http://username:password@host:port"
#        https: "http://username:password@host:port"

