/*
 * MT Demos Menu styles
 *  Add any module related style here
 */
.mt_demosmenu {
  position: relative;
  z-index: 50;
  -webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.5);
  box-shadow: 0 3px 15px rgba(0,0,0,0.5);
}
.mt_demosmenu__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #748ca6;
}
.mt_demosmenu__menu-item {
  flex-grow: 1;
  border-right: 1px solid #FFFFFF;
}
.mt_demosmenu__menu-item:last-of-type {
  border-right: 0;
}
.mt_demosmenu__menu-item a {
  font-weight: bold;
  color: #FFF;
  display: block;
  text-align: center;
  padding: 1em;
  border-bottom: 0;
}
.mt_demosmenu__menu-item a:hover,
.mt_demosmenu__menu-item a:active,
.mt_demosmenu__menu-item a:focus {
  background-color: #8da1b6;
  color: #FFF;
  text-decoration: none;
  border-bottom: 0;
}

/* Logo item specific styling */
.mt_demosmenu__menu-item--mtt-site {
  flex-grow: 0;
}
.mt_demosmenu__menu-item--mtt-site a {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mt_demosmenu__menu-item--mtt-site img {
  max-height: 40px;
}